<h2 class="stats-header">{{this.name}}</h2>
<div class="stats">
    <ul class="stats__list">
        <li class="stats__item">Capital: <span class="stats__value">{{this.capital}}</span> </li>
        <li class="stats__item">Population: <span class="stats__value">{{this.population}}</span></li>
        <ul class="stats__item">Languages: {{#each this.languages}}
            <li class="stats__value stats__value--lang ">{{name}}</li>
            {{/each}}
        </ul>
    </ul>
    <img class="flag" src={{this.flag}}>
</div>